<div class="container container-table">
    <div class="text-justify col-md-6 col-md-offset-3">
    	<b>What is this tool?</b><br/>
    	It's a basic happiness tracker that we will use to track happiness and stress levels. While we understand this is highly subjective it is still worth tracking as it might give management hints as to difficult periods. And who knows, we might actually unravel some good insights! In addition we are gathering feedback on various initiatives or just having fun asking you open questions.<br /><br />
    	<b>Is it anonymous?</b><br />
    	It's 100% anonymous. Although you are logged in your questions will not be matched to your answers - we need to keep you logged in to track whether you have or have not answered the survey. We cannot have people answer it twice.<br /><br />
    	<b>How will the results be used?</b><br />
    	Mainly for tracking trends and for feedback through the open questions. Leadership will be looking at those and we hope some fun initiatives might arise from that!<br /><br />
    	<b>When does the face change?</b><br />
    	It's a % system. There are 6 different faces depending on the level of happiness in a day.<br /><br />
    	<b>When does the stress bar change?</b><br />
    	It's also a % system and also changes depending on the level of stress. The bar changes it's color into one of three options.<br /><br />
	    <b>Can I suggest questions?</b><br />
    	Absolutely! Please send us an e-mail.<br /><br />
    </div>
</div>