<h1>Happiness tracker reporting page</h1>
<br>
Setup the public dashboard here with the results from the questionaire.
<br/><br/>
<%=link_to "Today's survey", happinesstrackers_survey_path %>
<br/>
<%=link_to "Admin page", happinesstrackers_admin_path %>

</p>