<h1>New Daily Question</h1>
  <p>Are you happy today?</p>

<%= form_for :happinesstracker, url: happinesstrackers_path do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p> 
  <p>
    <%= f.submit %>
  </p>
<% end %>