<h1>Home Page for the force</h1>
<br>
<br>
<h3>List of tools</h3>
<%= link_to "Happiness Tracker", happinesstrackers_path %>

<h4>Coming soon!</h4>
1. Assasin's Game <br/>
2. Lunch Roulette <br/>
3. Wellness  tracker <br/>